*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: antiquewhite;
  color: white;
  height: 100vh;
}

h3{
  margin: 60px;
}

.input-group{
  width: 500px;
}

.cityContainer img{
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 280px;
  height: 300px;
}

.cardContainer{
  background-color: #2F3544;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  margin: 0 50px;
  height: 400px;
}

.cardContainer .left,
.cardContainer .right,
.cityContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.card-title{
  position: absolute;
  padding: 20px;
}

@media screen and (max-width: 460px) {

  .cardContainer{
    /* background-color: antiquewhite; */
    background-color: #2F3544;
    margin: 0;
  }

  .cityContainer{
    position: relative;
    top: 20px;
  }

  .cityContainer img{
    width: 240px;
    height: 260px;
  }

  .hora{
    font-size: 45px;
    color: aliceblue;
    
  }
  .ampm,
  .city,
  .date,
  .description{
    font-size: 17px;
    color: aliceblue;
  }
}

@media screen and (max-width: 750px) {

  .cardContainer{
    background-color: antiquewhite;  
  }

  .right,
  .left{
    width: 50%;
  }

  .cityContainer{
    position: relative;
    top: 30px;
  }

  .hora{
    font-size: 45px;
    color: aliceblue;
    
  }
  .ampm,
  .city,
  .date,
  .description{
    font-size: 17px;
    color: aliceblue;
  }

  .right img{
    width: 60px;
  }

  .centigrados{
    font-size: 23px;
  }

}

@media screen and (min-width: 750px) {
  .hora{
    font-size: 45px;
    color: aliceblue;
    
  }
  .ampm,
  .city,
  .date,
  .description{
    font-size: 17px;
    color: aliceblue;
  }

  .right img{
    width: 60px;
  }

  .centigrados{
    font-size: 23px;
  }
}

@media screen and (min-width: 1200px) {
  .cardContainer{
    padding: 0;
    margin: 0;
    
  }
}



