*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: antiquewhite;
  color: aliceblue;
}

.cardContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cardContainer .left{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.cardContainer .right{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content:space-between;
}

.cardContainer .right .weatherImg{
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 360px) {
  .cardContainer .right{
    text-align: right;
    padding-right: 20px;
  }

  .cardContainer .left{
    align-items: left;
    padding-left: 20px;
  }
  
  .hora{
    font-size: 45px;
    color: aliceblue;
    
  }
  .ampm,
  .city,
  .date,
  .description{
    font-size: 17px;
    color: aliceblue;
  }

  .centigrados{
    font-size: 25px;
  }

}
